.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6pxs;
}

.headerRegister {
    background: #009688;
    color: #FFF;
}

.headerUpdate {
    background: #007bff;
    color: #FFF;
}

.notBlock {
    display: none;
}